.card {
    position: relative;

    &:after {
        content: " ";
        display: block;
        padding-bottom: 100%;
    }

    &__icon {
        display: inline-block;
        width: 10rem;
        height: 10rem;
        font-size: 8rem;
        color: $color-white;
        padding: .5rem;
        background-color: $color-secondary;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            color: $color-primary;
        }

        & i {
            transform: translate(0%, 4%);
        }
    }

    &__heading {
        font-family: $font-header;
        font-weight: normal;
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__img {
        height: 50%;
        width: 50%;
        position: absolute;
        background-size: cover;

        &--1 {
            width: 100%;
            background-image: url(../img/box_1.jpg);
        }

        &--2 {
            width: 100%;
            background-image: url(../img/box_2.jpg);
        }

        &--3 {
            width: 100%;
            background-image: url(../img/box_3.jpg);
        }

        &-mask {
            height: 100%;
            opacity: 0;
            background-color: rgba($color-white, 0.25);
            transition: all .3s ease;
        }

        &:hover &-mask,
        &:hover .btn--green {
            opacity: 1;
        }

        &:hover .btn--green {
            transform: translate(50%, -6rem);
        }

        & .btn--green {
            position: absolute;
            opacity: 0;

            transform: translate(50%, 0%);

            &:hover {
                transform: translate(50%, -6rem);
            }
        }
    }
}
