.shop {
    position: relative;
    
}


.syrop-img {
    background-image: url(../img/syrups.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50vh;
    width: calc(50vh * 1.42);
    top: 0;
    //left: 10vw;
    
}

.syrop-text {
    position: absolute;
    height: 50vh;
    right: 10vw;
    top: 10rem;
}

