.shop {
    &__inner {
        //display: inline-block;
        
        &-left {
            height: 50rem;
            width: 100%;
            background-image: url(../img/syrups.png);
            background-size: cover;
            margin-top: -10rem;
        }
        
        &-right {
            width: 100%
        }
        
        & .btn--green {
            margin-top: 5rem;
        }
    }
}
