.section__mount-caramel {
    margin-top: 1rem;
    height: 70rem;
    background-image: url(../img/texture.jpg);
    background-size: cover;
    background-position: center;
    //position: relative;
}